.header{
    text-align:right;
    position:absolute;
    top: 50%;
    width: 100%; 
    font-size:50px;
    margin-right: 80px;
   
}
.pera{
    text-align: right ;
    position: absolute;
    top: 60%;
    width: 100%;
    font-size: 20px;
}
.banner{
    width: 50%;
    padding: auto;
    margin: 20px 20px x;
    
    

}
.topbtn{
    text-align:left;
    top:70%;
  position:absolute;
  left:60% ;
  background-color: coral;
  padding:20px; 
  font-size:20px ; 
  border-radius: 5px;
  color:white;
  border-style: none ;

}
/* 2nd div */
.listfail{
    
    list-style:decimal;
}
.failor-list{
    display: flex;
    
}
.second{
    margin-top: 250px;
    margin-right: 100px;
}
.failor-list img{
   color: rgba(0, 255, 255, 0.384);
}
/* 3rd part */
.plans{
    display: flex;
    gap: 200px;
    text-align: center;
    margin-left: 200px;
}
.plan-head{
    text-align: center;
    font-size: 30px;
}
/* 4rth part */
.box{
    background-image: url(/images/watch.png) ;
    
    background-repeat: no-repeat;
    padding: 10px;
    height: 300px;
    width: 1000px;
    margin: 200px;
   
    
   

}
.mindset{
    font-size: 30px;

}
.btn-two{
    text-align:left;
  position:absolute;
  background-color: coral;
  padding:20px; 
  font-size:20px ; 
  border-radius: 5px;
  color:white;
  border-style: none ;
}
/* section 5 */
.footer{
    display: flex;
    gap: 200px;
    background-color: black;
    color: white;
}
.write{
   width: 50%;
   margin-right: 50px;
   padding: 20px;

}
.email{
width: 50%;
margin-left: 200px;
padding: 10px;

}
.big{
    background-color: white;
    position: absolute;
    border-style: none;
    
}
.icon{
    display: flex;
    gap: 30px;
}